openapi: 3.1.0
info:
  title: FocusNest User Service
  version: 0.1.0
  description: User profile management and Clerk sync service
servers:
  - url: https://user.focusnest.com
    description: Production
  - url: http://localhost:8080
    description: Local development
paths:
  /healthz:
    get:
      operationId: getHealth
      summary: Health check
      tags:
        - system
      responses:
        "200":
          description: Service is healthy
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"
  /v1/me:
    get:
      operationId: getMe
      summary: Get user profile
      tags:
        - user
      security:
        - bearerAuth: []
      responses:
        "200":
          description: User profile
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserProfile"
        "401":
          description: Missing or invalid authentication token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Profile not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    patch:
      operationId: updateMe
      summary: Update user profile
      tags:
        - user
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateUserProfileRequest"
      responses:
        "200":
          description: User profile updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserProfile"
        "400":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Missing or invalid authentication token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Profile not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /v1/me/streaks:
    get:
      operationId: getMeStreaks
      summary: Get user streaks
      tags:
        - user
      security:
        - bearerAuth: []
      responses:
        "200":
          description: User streaks
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserStreaks"
        "401":
          description: Missing or invalid authentication token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Profile not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /internal/backfill-user:
    post:
      operationId: backfillUser
      summary: Backfill user from Clerk API (internal endpoint)
      tags:
        - internal
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BackfillUserRequest"
      responses:
        "200":
          description: User backfilled successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BackfillUserResponse"
        "400":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Missing or invalid authentication token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    HealthResponse:
      type: object
      properties:
        status:
          type: string
        service:
          type: string
        version:
          type: string
    ErrorResponse:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        requestId:
          type: string
      required:
        - code
        - message
    UserProfile:
      type: object
      properties:
        id:
          type: string
        user_id:
          type: string
        display_name:
          type: string
        email:
          type: string
        bio:
          type: string
        birthdate:
          type: string
          format: date
        stats:
          $ref: "#/components/schemas/UserStats"
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      required:
        - id
        - user_id
        - display_name
        - email
        - stats
        - created_at
        - updated_at
    UserStats:
      type: object
      properties:
        longest_streak_days:
          type: integer
        total_activity:
          type: integer
        total_session:
          type: integer
      required:
        - longest_streak_days
        - total_activity
        - total_session
    UpdateUserProfileRequest:
      type: object
      properties:
        display_name:
          type: string
        bio:
          type: string
        birthdate:
          type: string
          format: date
    UserStreaks:
      type: object
      properties:
        current_streak:
          type: integer
        longest_streak:
          type: integer
        last_active:
          type: string
          format: date-time
      required:
        - current_streak
        - longest_streak
        - last_active
    BackfillUserRequest:
      type: object
      properties:
        clerk_user_id:
          type: string
      required:
        - clerk_user_id
    BackfillUserResponse:
      type: object
      properties:
        success:
          type: boolean
        user_id:
          type: string
        message:
          type: string
      required:
        - success
        - user_id
        - message