openapi: 3.1.0
info:
  title: FocusNest Progress Service
  version: 0.1.0
  description: Progress analytics service with daily summaries and aggregations
servers:
  - url: https://progress.focusnest.com
    description: Production
  - url: http://localhost:8080
    description: Local development
paths:
  /healthz:
    get:
      operationId: getHealth
      summary: Health check
      tags:
        - system
      responses:
        "200":
          description: Service is healthy
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"
  /v1/progress:
    get:
      operationId: getProgress
      summary: Get progress analytics for the authenticated user
      tags:
        - progress
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: period
          description: Time period for analytics (7d, 1m, 3m, 1y, all)
          schema:
            type: string
            enum: [7d, 1m, 3m, 1y, all]
            default: 1m
        - in: query
          name: start_date
          description: Start date in YYYY-MM-DD format
          schema:
            type: string
            format: date
        - in: query
          name: end_date
          description: End date in YYYY-MM-DD format
          schema:
            type: string
            format: date
      responses:
        "200":
          description: Progress analytics
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProgressResponse"
        "401":
          description: Missing or invalid authentication token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /v1/streaks/month:
    get:
      operationId: getMonthlyStreak
      summary: Get monthly streak data
      tags:
        - streaks
      security:
        - bearerAuth: []
      parameters:
        - name: month
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 12
          description: Month (1-12), defaults to current month
        - name: year
          in: query
          required: false
          schema:
            type: integer
            minimum: 2020
            maximum: 2030
          description: Year, defaults to current year
      responses:
        "200":
          description: Monthly streak data retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MonthlyStreakData"
        "401":
          description: Missing or invalid authentication token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /v1/streaks/week:
    get:
      operationId: getWeeklyStreak
      summary: Get weekly streak data
      tags:
        - streaks
      security:
        - bearerAuth: []
      parameters:
        - name: date
          in: query
          required: false
          schema:
            type: string
            format: date
          description: Date to get week for (YYYY-MM-DD), defaults to current week
      responses:
        "200":
          description: Weekly streak data retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WeeklyStreakData"
        "401":
          description: Missing or invalid authentication token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /v1/streaks/current:
    get:
      operationId: getCurrentStreak
      summary: Get current running streak
      tags:
        - streaks
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Current streak data retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StreakData"
        "401":
          description: Missing or invalid authentication token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    HealthResponse:
      type: object
      properties:
        status:
          type: string
        service:
          type: string
        version:
          type: string
    ErrorResponse:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        requestId:
          type: string
      required:
        - code
        - message
    ProgressResponse:
      type: object
      properties:
        period:
          type: string
        range:
          type: object
          properties:
            start:
              type: string
              format: date-time
            end:
              type: string
              format: date-time
        stats:
          type: object
          properties:
            total_elapsed_ms:
              type: integer
            total_sessions:
              type: integer
            total_hours:
              type: number
            streak:
              type: object
              properties:
                current:
                  type: integer
                longest:
                  type: integer
                last_active:
                  type: string
                  format: date-time
            by_category:
              type: object
              additionalProperties:
                $ref: "#/components/schemas/CategoryStats"
            by_period:
              type: object
              additionalProperties:
                $ref: "#/components/schemas/PeriodStats"
            hour_histogram:
              type: object
              additionalProperties:
                type: integer
        generated_at:
          type: string
          format: date-time
      required:
        - period
        - range
        - stats
        - generated_at
    CategoryStats:
      type: object
      properties:
        elapsed_ms:
          type: integer
        sessions:
          type: integer
        hours:
          type: number
      required:
        - elapsed_ms
        - sessions
        - hours
    PeriodStats:
      type: object
      properties:
        total_elapsed_ms:
          type: integer
        total_sessions:
          type: integer
        total_hours:
          type: number
        by_category:
          type: object
          additionalProperties:
            $ref: "#/components/schemas/CategoryStats"
      required:
        - total_elapsed_ms
        - total_sessions
        - total_hours
        - by_category
    MonthlyStreakData:
      type: object
      properties:
        month:
          type: integer
          minimum: 1
          maximum: 12
        year:
          type: integer
        total_streak:
          type: integer
          description: Longest consecutive active days in the month
        current_streak:
          type: integer
          description: Current running streak
        days:
          type: array
          items:
            $ref: "#/components/schemas/DayStatus"
      required:
        - month
        - year
        - total_streak
        - current_streak
        - days
    WeeklyStreakData:
      type: object
      properties:
        week:
          type: string
          description: Week in YYYY-WW format
        total_streak:
          type: integer
          description: Longest consecutive active days in the week
        current_streak:
          type: integer
          description: Current running streak
        days:
          type: array
          items:
            $ref: "#/components/schemas/DayStatus"
      required:
        - week
        - total_streak
        - current_streak
        - days
    StreakData:
      type: object
      properties:
        total_streak:
          type: integer
          description: Longest consecutive active days
        current_streak:
          type: integer
          description: Current running streak
        days:
          type: array
          items:
            $ref: "#/components/schemas/DayStatus"
      required:
        - total_streak
        - current_streak
        - days
    DayStatus:
      type: object
      properties:
        date:
          type: string
          format: date
          description: Date in YYYY-MM-DD format
        day:
          type: string
          description: Day of the week (Monday, Tuesday, etc.)
        status:
          type: string
          enum: [active, skipped, upcoming]
          description: Status of the day
      required:
        - date
        - day
        - status
